@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --main-bg-color: #272829;
    --main-text-color: #FFF6E0;
    --primary-color: #74ad72;
    --secondary-color: #0ee088;
    --danger-color: #b92727;
    --danger-color-hover: #dd3737;
    --info-color: #175ee2;
    --info-color-hover: #2a6deb;
    --comment-color: #6b7485;
    --border-radius:0.4rem;
}