@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --main-bg-color: #272829;
    --main-text-color: #FFF6E0;
    --primary-color: #61677A;
    --secondary-color: #D8D9DA;
    --font-size: 16px;
}